@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/_content/Bootstrap5/bootstrap.min.css" rel="stylesheet">

    <title>@Model.Name</title>
</head>
<body>
    <div class="container pt-5">
        <partial name="PageTitle" for="@Model.Name" />
        @RenderBody()
    </div>
    <script src="/_content/Bootstrap5/bootstrap.bundle.min.js"></script>
</body>
</html>